In [2]:
import pandas as pd

In [3]:
eda=pd.read_csv("data_clean.csv")

In [4]:
eda.head()

   Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0           1   41.0    190.0   7.4     67     5    1  2010    67       S
1           2   36.0    118.0   8.0     72     5    2  2010    72       C
2           3   12.0    149.0  12.6     74     5    3  2010    74      PS
3           4   18.0    313.0  11.5     62     5    4  2010    62       S
4           5    NaN      NaN  14.3     56     5    5  2010    56       S

In [5]:
eda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  158 non-null    int64
 1   Ozone       120 non-null    float64
 2   Solar.R     151 non-null    float64
 3   Wind        158 non-null    float64
 4   Temp C      158 non-null    object
 5   Month       158 non-null    object
 6   Day         158 non-null    int64
 7   Year        158 non-null    int64
 8   Temp        158 non-null    int64
 9   Weather     155 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 12.5+ KB

In [6]:
#eda.dtypes()

In [7]:
eda.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Day,Year,Temp
count,158.000000,120.000000,151.000000,158.000000,158.000000,158.0,158.000000
mean,79.500000,41.583333,185.403974,9.957595,16.006329,2010.0,77.727848
std,45.754781,32.620709,88.723103,3.511261,8.997166,0.0,9.377877
min,1.000000,1.000000,7.000000,1.700000,1.000000,2010.0,56.000000
25%,40.250000,18.000000,119.000000,7.400000,8.000000,2010.0,72.000000
50%,79.500000,30.500000,197.000000,9.700000,16.000000,2010.0,78.500000
75%,118.750000,61.500000,257.000000,11.875000,24.000000,2010.0,84.000000
max,158.000000,168.000000,334.000000,20.700000,31.000000,2010.0,97.000000

In [8]:
eda['Ozone'].isnull().sum()

38

In [9]:
eda['Ozone'].head(60).isnull().sum()

25

In [10]:
eda['Ozone'].count()

120

In [11]:
#eda['Month']=pd.to_numeric(data['Month'],error='coerce')

In [12]:
eda.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
153    False
154    False
155    False
156    False
157    False
Length: 158, dtype: bool

In [13]:
eda.duplicated().tail()

153    False
154    False
155    False
156    False
157    False
dtype: bool

In [14]:
eda.duplicated().head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [15]:
eda.rename({'Solar.R':'Solar'},axis=1)

     Unnamed: 0  Ozone  Solar  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0  190.0   7.4     67     5    1  2010    67       S
1             2   36.0  118.0   8.0     72     5    2  2010    72       C
2             3   12.0  149.0  12.6     74     5    3  2010    74      PS
3             4   18.0  313.0  11.5     62     5    4  2010    62       S
4             5    NaN    NaN  14.3     56     5    5  2010    56       S
..          ...    ...    ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0  190.0   7.4     67     5    1  2010    67       C
154         155   30.0  193.0   6.9     70     9   26  2010    70      PS
155         156    NaN  145.0  13.2     77     9   27  2010    77       S
156         157   14.0  191.0  14.3     75     9   28  2010    75       S
157         158   18.0  131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [16]:
eda

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [17]:
eda1=pd.get_dummies(eda,columns=['Weather'])

In [18]:
eda1

,Unnamed: 0,Ozone,Solar.R,Wind,Temp C,Month,Day,Year,Temp,Weather_C,Weather_PS,Weather_S
0,1,41.0,190.0,7.4,67,5,1,2010,67,0,0,1
1,2,36.0,118.0,8.0,72,5,2,2010,72,1,0,0
2,3,12.0,149.0,12.6,74,5,3,2010,74,0,1,0
3,4,18.0,313.0,11.5,62,5,4,2010,62,0,0,1
4,5,NaN,NaN,14.3,56,5,5,2010,56,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
153,154,41.0,190.0,7.4,67,5,1,2010,67,1,0,0
154,155,30.0,193.0,6.9,70,9,26,2010,70,0,1,0
155,156,NaN,145.0,13.2,77,9,27,2010,77,0,0,1
156,157,14.0,191.0,14.3,75,9,28,2010,75,0,0,1
157,158,18.0,131.0,8.0,76,9,29,2010,76,1,0,0

In [19]:
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [20]:
eda1.values

array([[1, 41.0, 190.0, ..., 0, 0, 1],
       [2, 36.0, 118.0, ..., 1, 0, 0],
       [3, 12.0, 149.0, ..., 0, 1, 0],
       ...,
       [156, nan, 145.0, ..., 0, 0, 1],
       [157, 14.0, 191.0, ..., 0, 0, 1],
       [158, 18.0, 131.0, ..., 1, 0, 0]], dtype=object)

In [21]:
array = eda1.values

scaler = MinMaxScaler(feature_range=(0,1))
rescaledX = scaler.fit_transform(array)


set_printoptions(precision=2)
print(rescaledX[0:5,:])

ValueError: could not convert string to float: 'C'

In [22]:
eda.drop_duplicates()

     Unnamed: 0  Ozone  Solar.R  Wind Temp C Month  Day  Year  Temp Weather
0             1   41.0    190.0   7.4     67     5    1  2010    67       S
1             2   36.0    118.0   8.0     72     5    2  2010    72       C
2             3   12.0    149.0  12.6     74     5    3  2010    74      PS
3             4   18.0    313.0  11.5     62     5    4  2010    62       S
4             5    NaN      NaN  14.3     56     5    5  2010    56       S
..          ...    ...      ...   ...    ...   ...  ...   ...   ...     ...
153         154   41.0    190.0   7.4     67     5    1  2010    67       C
154         155   30.0    193.0   6.9     70     9   26  2010    70      PS
155         156    NaN    145.0  13.2     77     9   27  2010    77       S
156         157   14.0    191.0  14.3     75     9   28  2010    75       S
157         158   18.0    131.0   8.0     76     9   29  2010    76       C

[158 rows x 10 columns]

In [ ]:
import seaborn as sns

In [ ]:
eda.isnull().sum()

In [ ]:
eda['Ozone'].mean()

In [ ]:
eda.boxplot()

In [ ]:
eda.hist()

In [ ]:
eda.corr()

In [ ]:
import pandas as pd

In [ ]:
bs=pd.read_csv("basic_salary.csv")

In [ ]:
bs

In [ ]:
bs['Location']=bs['Location'].astype('category')

In [ ]:
bs['Location'].cat.categories

In [ ]:
bs.describe()

In [ ]:
bs[['ba','ms','Grade']]

In [ ]:
bs['ba']

In [ ]:
bs.ba

In [ ]:
bs[bs['Location']=='MUMBAI']

In [ ]:
bs[['ba']].agg(['min','mean',max])

In [ ]:
bs['Grade'].agg(['mode'])

In [ ]:
from scipy import stats

In [ ]:
1-stats.norm.cdf(80,60,10)

In [ ]:
1-stats.norm.cdf(740,711,29)

In [ ]:
import pandas as pd

In [ ]:
glaxo_df=pd.read_csv("glaxo_df.csv")

In [ ]:
glaxo_df.head()

In [ ]:
beml_df=pd.read_csv("beml_df.csv")

In [ ]:
beml_df.head()

In [ ]:
glaxo_df = glaxo_df.set_index(pd.DatetimeIndex(glaxo_df['Date.1'])).drop('Date.1',axis=1)
beml_df= beml_df.set_index(pd.DatetimeIndex(beml_df['Date.1'])).drop('Date.1',axis=1)

In [ ]:
glaxo_df['gain']=glaxo_df.Close.pct_change(periods=1)
beml_df['gain']=beml_df.Close.pct_change(periods=1)

In [ ]:
glaxo_df

In [ ]:
beml_df

In [ ]:
beml_df.gain.mean()

In [ ]:
glaxo_df.gain.mean()

In [ ]:
beml_df.gain.std()

In [ ]:
glaxo_df.gain.std()

In [ ]:
1-stats.norm.cdf(0.02,0.00004,0.0134)       #1- is bcz python reads left side of graph

In [ ]:
glaxo_df=stats.norm.interval(0.95,
  loc=glaxo_df.gain.mean(),
   scale=glaxo_df.gain.std())
print('Mean at 95% confidence interval is:',np.round(glaxo_df,4))

In [ ]:
import numpy as np

In [ ]:
beml_df=pd.read_csv("beml_df.csv")

In [ ]:
glaxo_df=pd.read_csv("glaxo_df.csv")

In [ ]:
glaxo_df=stats.norm.interval(0.95,
  loc=glaxo_df.gain.mean(),
   scale=glaxo_df.gain.std())
print('Mean at 95% confidence interval is:',np.round(glaxo_df,4))