In [1]:
import pandas as pd

In [64]:
an=pd.read_csv("adult_new.csv")

In [65]:
an.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
1,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
2,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
3,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K
4,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K

In [66]:
an.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [67]:
an["income"].unique()

array(['>50K', '<=50K'], dtype=object)

In [68]:
for i in an.columns:
    print(f"unique values in column {i}:\n\n{an[i].unique()},\n")

unique values in column age:

[28 44 63 65 48 43 40 34 45 46 36 22 42 41 55 33 59 29 27 31 58 54 37 56
 39 51 50 52 47 24 64 53 35 32 30 68 57 66 49 38 61 73 26 23 25 62 90 60
 67 69 72 85 71 77 70 19 21 74 75 20 81 76 80 88 78 79 84 17 18 82 83 86
 87],

unique values in column workclass:

['Local-gov' 'Private' 'Self-emp-not-inc' 'State-gov' 'Self-emp-inc' '?'
 'Federal-gov' 'Without-pay' 'Never-worked'],

unique values in column fnlwgt:

[336951 160323 104626 ...  84661 310152 257302],

unique values in column education:

['Assoc-acdm' 'Some-college' 'Prof-school' 'HS-grad' 'Masters' 'Doctorate'
 'Bachelors' 'Assoc-voc' '9th' '10th' '7th-8th' '11th' '5th-6th' '1st-4th'
 '12th' 'Preschool'],

unique values in column educational-num:

[12 10 15  9 14 16 13 11  5  6  4  7  3  2  8  1],

unique values in column marital-status:

['Married-civ-spouse' 'Never-married' 'Divorced' 'Separated'
 'Married-AF-spouse' 'Widowed' 'Married-spouse-absent'],

unique values in column occupation:

['Protective-serv' 'Machine-op-inspct' 'Prof-specialty' 'Exec-managerial'
 'Tech-support' 'Craft-repair' 'Sales' 'Other-service' '?'
 'Transport-moving' 'Adm-clerical' 'Handlers-cleaners' 'Farming-fishing'
 'Priv-house-serv' 'Armed-Forces'],

unique values in column relationship:

['Husband' 'Wife' 'Not-in-family' 'Unmarried' 'Own-child' 'Other-relative'],

unique values in column race:

['White' 'Black' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo'],

unique values in column gender:

['Male' 'Female'],

unique values in column capital-gain:

[    0  7688  3103  6418  7298 14084  5178 15024 99999 27828  4934 10605
  8614 13550 25236  4787  4386 10520 20051 14344 15020  9386 11678  7262
  6514  7430 15831  9562  6097  5556 25124  4687  6612  7896  5455  3325
  5721  7443  2036  3137  2176  4064  6360  1848  2174  6849  2885  4416
  2354  5013  3781  3908  3464  1506   594  3411  1797  4650  1173  2907
  2635  4865  2407  4508  2463  2829  3273  1151  4101  6723  2009  2202
  2346  2414  6497 34095  1831  3418  2050  1055  3942  2580  2964  3432
  3674  2290   914  2653   991  1639 18481  2062  3887  3818  6767  2329
  2936  2597   114  2977 41310  2228  2961  1409 10566  2105  7978  1471
  3471  2993  1086  2387  5060  3456],

unique values in column capital-loss:

[   0 2415 1887 1977 1485 1902 2444 1825 1848 3004 2559 2258 2377 1564
 2547 2472 2174 2282 1911 2231 2246 2392 2824 1648  653 1092 3770 1590
 1672 1408 1617 1579 1876 1974 1602 1651 1719 2001 1628 1741 2206 1755
 3683 2205 1762 1594 1721 2339 1740 1669 2002 1668 1504 2129 4356  625
 1980  880 1726 2267 2080 2051 1380  323 2457  213 2179 1138 2057 2603
 1573  419  155 3900 2201 2042 1340 1944 1258 2238 2467 2163 2754 1411],

unique values in column hours-per-week:

[40 32 48 50 45 47 90 38 36 60 56 10 41 55 16 70 35 42 12 84 80 25 99 24
 65 54 53 20 52 30 44 37 67 43 76 39  8 15 78 63  6 58  3 72 31 46 27  4
 23 75 62 34 66 86  5 85 17 51 64  2 89 49 13 21  9 57 18 68  7 61  1 33
 28 74 73 59 92 69 26 98 97 14 29 22 11 91 81 19 96 88 77 95],

unique values in column native-country:

['United-States' '?' 'Ireland' 'El-Salvador' 'Japan' 'Poland' 'England'
 'Philippines' 'Germany' 'Thailand' 'Puerto-Rico' 'Portugal' 'China'
 'Canada' 'India' 'Jamaica' 'Honduras' 'South' 'Ecuador' 'Hungary' 'Cuba'
 'Mexico' 'Greece' 'Yugoslavia' 'Dominican-Republic' 'Nicaragua' 'Haiti'
 'Italy' 'Columbia' 'Taiwan' 'Peru' 'France' 'Cambodia'
 'Outlying-US(Guam-USVI-etc)' 'Hong' 'Iran' 'Vietnam' 'Guatemala'
 'Trinadad&Tobago' 'Scotland' 'Laos' 'Holand-Netherlands'],

unique values in column income:

['>50K' '<=50K'],

In [69]:
import numpy as np

In [70]:
an_new=an.replace("?",np.nan)

In [71]:
an_new.isnull().sum()

age                   0
workclass          1283
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         1288
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      508
income                0
dtype: int64

In [40]:
an_new.shape

(27414, 15)

In [41]:
1283/27414

0.04680090464726053

In [72]:
an_new["workclass"].fillna(an_new["workclass"].mode()[0],inplace=True)

In [73]:
an_new.isnull().sum()

age                   0
workclass             0
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         1288
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      508
income                0
dtype: int64

In [74]:
an_new["occupation"].fillna(an_new["occupation"].mode()[0],inplace=True)

In [75]:
an_new.isnull().sum()

age                  0
workclass            0
fnlwgt               0
education            0
educational-num      0
marital-status       0
occupation           0
relationship         0
race                 0
gender               0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     508
income               0
dtype: int64

In [76]:
an_new["native-country"].fillna(an_new["native-country"].mode()[0],inplace=True)

In [77]:
an_new.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [80]:
for i in an.columns:
    if an_new[i].dtypes=="object":
        an_new[i].fillna(an[i].mode()[0],inplace=True)
    else:
            an_new[i].fillna(an[i].mean(),inplace=True)

In [81]:
an_new.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64